<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC3S9WoyiTrve8HjqVAMJtL4heeZzdbKGY</string>
	<key>GCM_SENDER_ID</key>
	<string>96692674550</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vprihogenko.trainableProblemSolver</string>
	<key>PROJECT_ID</key>
	<string>trainable-problem-solver</string>
	<key>STORAGE_BUCKET</key>
	<string>trainable-problem-solver.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:96692674550:ios:4a07c354ea5ca1c3df31d7</string>
</dict>
</plist>